html {
  height: 100%;
}

body {
  min-height: 100%;
  height: 100%;
}

#root {
  min-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

h1, h3 {
  text-align: center;
  padding: 20px 20px;
}

.block {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 20px 20px;
}

.section {
  display: flex;
  padding-top: 55px;
}

.left-column {
  width: 20%;
  border-right: 1px solid lightgrey;
}

.right-column {
  width: 80%;
  margin-left: 20px;
}

.icons {
  margin-right: 10px;
}

.main-block {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.card-block {
  display: flex;
  flex-direction: column;
  max-width: 180px;
  width: 20%;
  border-right: 0.5px solid lightgray;
  border-bottom: 0.5px solid lightgray;
  
}

.card-section {
  display: flex;
  justify-content: flex-start;
}

.price-section {
  display: flex;
  justify-content: space-between;
}

.btn-cart {
  background: initial;
  border: none;
}

.form-container {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100%;
}

form {
  width: 70%;
}

@media (max-width: 375px) {
  .section {
    flex-direction: column-reverse;
    width: 100%;
  }
  .left-column {
    width: 100%;
  }
  .right-column {
    width: 100%;
    margin-left: 0;
  }
  .card-block {
    min-width: 100%;
    margin-top: 15px;
  }

  .card-section {
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

