body, html {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  display: flex;
  flex-direction: column;
}

h1, h3 {
  text-align: center;
  padding: 20px 20px;
}

.block {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 20px 20px;
}

.section {
  display: flex;
  padding-top: 55px;
}

.left-column {
  width: 20%;
  border-right: 1px solid lightgrey;
}

.right-column {
  width: 80%;
  margin-left: 20px;
}

.icons {
  margin-right: 10px;
}

.main-block {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.card-block {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  width: 30%;
}

.card-section {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 375px) {
  .section {
    flex-direction: column-reverse;
    width: 100%;
  }
  .left-column {
    width: 100%;
  }
  .right-column {
    width: 100%;
    margin-left: 0;
  }
  .card-block {
    min-width: 100%;
    margin-top: 15px;
  }

  .card-section {
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

